	body {
		background-color: #105885;
		color: white;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		font-weight: 300;
		padding: 0;
		margin: 0;
	}
	.circle {
		border-radius: 50%;
		border: 2px solid #F6F6F6;
		padding: 20px;
		width: 60px;
		margin-top: 10px;
		height: 60px;
		margin-left: 15px;
	}
	
	.city {
		margin-top: -20px;
		height: 50px;
		line-height: 50px;
		display: block;
		background-color: #1A608B;
	}
	
	.day {
		text-align: left;
		float: left;
	}
	
	.top {
		height: 250px;
		border-bottom: 2px solid #1A608B;
	}
	
	.todayWeather {
		position: absolute;
		top: 70px;
		right: 30px;
		font-size: 2.7em;
	}
	
	#weatherIcon {
		width: 75px;
		height: 75px;
		display: block;
		position: absolute;
		top: 60px;
		left: 20px;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-size: contain;
	}
	
	#location {
		text-align: center;
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		font-weight: 200;
		font-size: 1.4em;
	}
	
	.sunrise {
		position: absolute;
		top: 250px;
		left: 20px;
	}
	
	.sunset {
		position: absolute;
		top: 250px;
		right: 20px;
	}
	
	.weatherBox {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-content: flex-end;
	}
	
	.min {
		color: #9AA0A7;
		margin-left: 20px;
	}
	
	.container {
		line-height: 75px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: right;
		height: 75px;
		display: block;
	}
	.sunriseIcon {
		background-image: url(../icons/sunrise.svg);
		height: 40px;
		width: 40px;
		display: block;
		position: absolute;
		left: 17px;
		top: 205px;
	}
	
	.sunsetIcon {
		background-image: url(../icons/sunset.svg);
		height: 40px;
		width: 40px;
		display: block;
		position: absolute;
		top: 205px;
		right: 17px;
	}