html {
  height: 100%;
}

body{
    background-image: url(../img/background.jpg);
    background-position: top center;
    background-size: cover;
    min-height: 100%;
    text-transform: uppercase;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 60px 0 20px 0;
}

.logo{
    width: 100%;
    margin-bottom: 30px;
}

.logo h1{
    width: 260px;
    margin: auto;
    font-family: serif;
    font-weight: 500;
    color: white;
    font-size: 1.45rem;
    text-indent: 4px;
    letter-spacing: 15px;
    padding: 5px;
}

.logo span{
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: yellow;
    letter-spacing: 25px;
    line-height: 55px;
}

header p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8rem;
    color: yellow;
    margin: 10px 5px;
}

#content{
    max-width: 1400px;
    margin: auto;
}

#content ul{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#content ul li{
    height: 200px;
    width: 600px;
    margin: 0 15px 30px 15px;
    background-color: black;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

#content div{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 250px;
    padding: 15px;
}

#content h1{
    color: yellow;
    font-family: sans-serif;v
}

#content h2{
    color: white;
    font-family: serif;
    font-size: 1.5rem;
    line-height: 20px;
}

.small{
    flex: 1 250px;
}

.medium{
    flex: 1 500px;
}

.long{
    flex: 1 500px;
}

@media (min-width: 500px) {
    header p{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 0.9rem;
    }
    .logo{
        margin: 0;
    }
}

@media (min-width: 800px) {
    .small{
        flex: 2 20%;
    }

    .medium{
        flex: 1.33 25%;
    }

    .long{
        flex: 1 40%;
    }
}