body{
	background-color: #CCC;
	font-family: Helvetica;
}
.btn{
	color: #666;
	margin: 10px;
	display: inline-block;
	text-transform: uppercase;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
}
.btn:active{
	position: relative;
	top: 2px;
}
.btn__price{
	background-color: #000;
	padding: 3px 5px;
	color: white;
	opacity: 0.5;
	border-radius:  3px 0 0 3px;
}
.btn-xl{
	font-size: 1.4em;
}
.btn__text{
    color:coral;
}
.btn--primary{
	background-color: tomato;
}
.btn--primary .btn__text{
	color: white;
}
