html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    width: 200px;
    background: -webkit-linear-gradient(left, #F173E2, #8633E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    color: white;
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    list-style-type: none;
    margin-top: 10px;
}

li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    color: white;
}

li h2 {
    text-align: center;
}

.logo {
    margin-left: 15px;
}

section {
    text-align: center;
}

@media (min-width: 600px) {
    header {
        display: flex;
    }
    li h2 {
        text-transform: uppercase;
    }
    nav {
        width: 100%;
    }
    nav li {
        text-align: center;
        height: 30px;
        width: 75px;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    section li{
        
    }
    section ul{
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 800px) {
    nav {
        width: 100%;
    }
     nav ul {
         justify-content: flex-end;    
    }
}